body{
    
    background-color: rgb(246, 247, 248);

}
.container{
    display: flex;
	min-height: 100vh;
    text-align: center;
  justify-content: center;
  
}
.containerleft{
    background-image: linear-gradient(#021543ca, #8400ffc3), url('https://www.simplilearn.com/ice9/free_resources_article_thumb/Top_10_Open_Source_Technologies_for_2022.jpg');
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;  
}
.containerrigth{
   background-position: right;
   background-size: cover;
	height: 100vh;
    width: 80vw;
  text-align: center;
  
 
}
.containerrigth h1{
    margin-bottom: 2rem;
}
input{
    padding: 10px;
	border: #4a8bee;
	border: 2px solid #4a8bee;
	border-radius: 6px;
    width: 10cm;
    
 
}