@font-face {
    font-family:Champagne ;
    src: url("Champagne\ &\ Limousines.ttf")
}
img{
  
    border-radius: 100px;
    
}
.container{
    display: flex;
	min-height: 95vh;
  font-family:Champagne;
  font-size: 20px;
 
   
  }
.profile-pic {
    width: 200px;
    display: block;
    margin-bottom: 20px;
  
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.info-item img {
    width:30px;
    margin-right: 10px;
    align-items: center;
}

h2 {
    margin-top: 30px;
    font-size: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}


.containerright{
 text-align: center;
 align-items: center;
 padding-left: 5px;
  background-color: rgb(138, 137, 137)
 

}

.containerleft,
h2{ 
    text-align: start;
    padding-left: 20px;
    max-width: 100vh;
   
   
}
h1{ 
    text-align: center;
}
a{ color:black
  
}



