h1{
    text-align: center;
    color: white;
    background-color: rgb(155, 4, 4);
    margin-top: auto;
    font-size: 25px ;
    font-family: sans-serif;
}
img{ 
    width: 1.5em;
    

}